<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>PetSquare</title>
	</head>
	<body>
		<div class="grid-container">
			<header class="header">
				<div class="brand">
					<button>
						&#9776;
					</button>
					<a href="index.html">PetSquare</a>
				</div>
				<div class="header-links">
					<a href="signin.html">Login</a>
					<a href="cart.html">Cart</a>
				</div>
			</header>
			<main class="main">
				<div class="content">
					<ul class="products">
						<li>
							<div class="products">
								<img
									class="product-image"
									src="./images/ball.png"
									alt="products"
								/>
								<div class="product-name">
									<a href="product.html">Trio Peppermint</a>
								</div>
								<div class="product-brand">Tasty Bone</div>
								<div class="price-price">$27</div>
								<div class="price-rating">4.8 Stars (18 Reviews)</div>
							</div>
						</li>
						<li>
							<div class="products">
								<img
									class="product-image"
									src="./images/ball.png"
									alt="products"
								/>
								<div class="product-name">
									<a href="product.html">Trio Peppermint</a>
								</div>
								<div class="product-brand">Tasty Bone</div>
								<div class="price-price">$27</div>
								<div class="price-rating">4.8 Stars (18 Reviews)</div>
							</div>
						</li>
						<li>
							<div class="products">
								<img
									class="product-image"
									src="./images/ball.png"
									alt="products"
								/>
								<div class="product-name">
									<a href="product.html">Trio Peppermint</a>
								</div>
								<div class="product-brand">Tasty Bone</div>
								<div class="price-price">$27</div>
								<div class="price-rating">4.8 Stars (18 Reviews)</div>
							</div>
						</li>
						<li>
							<div class="products">
								<img
									class="product-image"
									src="./images/ball.png"
									alt="products"
								/>
								<div class="product-name">
									<a href="product.html">Trio Peppermint</a>
								</div>
								<div class="product-brand">Tasty Bone</div>
								<div class="price-price">$27</div>
								<div class="price-rating">4.8 Stars (18 Reviews)</div>
							</div>
						</li>
						<li>
							<div class="products">
								<img
									class="product-image"
									src="./images/ball.png"
									alt="products"
								/>
								<div class="product-name">
									<a href="product.html">Trio Peppermint</a>
								</div>
								<div class="product-brand">Tasty Bone</div>
								<div class="price-price">$27</div>
								<div class="price-rating">4.8 Stars (18 Reviews)</div>
							</div>
						</li>
						<li>
							<div class="products">
								<img
									class="product-image"
									src="./images/ball.png"
									alt="products"
								/>
								<div class="product-name">
									<a href="product.html">Trio Peppermint</a>
								</div>
								<div class="product-brand">Tasty Bone</div>
								<div class="price-price">$27</div>
								<div class="price-rating">4.8 Stars (18 Reviews)</div>
							</div>
						</li>
					</ul>
				</div>
			</main>
			<footer class="footer">
				All Rights Reserved
			</footer>
		</div>
	</body>
</html>
